<div class="container">
    <div class = "item">
        <h3><%= @product.name %></h3>
        <% if @product.image1.present? %>
            <%= image_tag @product.image1, :size => '300x300'%>
        <% else %>
            <%= image_tag "https://dummyimage.com/200x200/000/fff" %>
        <% end %>

        <p><%= @product.description %></p>
        <p><%= @product.category.name %></p>
        <h3>¥<%= @product.price %></h3>
    </div>
    
    <% if @product.user_id == current_user.id %>
        <%= link_to edit_product_path(@product) do %>
            <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-primary" type="button">編集する</button>
            </div>
        <% end %>
        <%= link_to '削除', product_path(@product.id), method: :delete %>
    <% else %>
        <% if @product.status <= 0 %>
            <div class="bg-secondary"><p>売り切れ</p></div>
        <% else %>
            <%= link_to payment_product_path(@product) do %>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-primary" type="button">購入する</button>
                </div>
            <% end %>
        <% end %>
    <% end %>
</div>